* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

body {
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /* scale of 30pts */
}

/* COLOR */
.yellow {
  color: #FCD900;
}

.grey {
  color: #999999;
}

.line {
  border-bottom: 2px solid #999999;
}

.underline {
  border-bottom: 2px solid black;
}

/* TYPOGRAPHY */
h1 {
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: .66em;
}

a {
  text-decoration: none;
}

.nobreak {
  white-space: nowrap;
}

time {
  font-size: .75em;
}

/* LAYOUT */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.measure {
  display: -ms-grid;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  grid-column: 1 / -1;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
}

.col {
  font-size: 12px;
}

.col:nth-of-type(odd) {
  background-color: #FCD900;
}

.grid main {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
}

/* CONTENT */
#hero {
  display: -ms-grid;
  display: grid;
  height: 72vh;
  margin-bottom: 2em;
  background-image: url(../img/BW2.jpg);
  background-size: cover;
  grid-column: 1 / -1;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
}

#hero img {
  height: 100%;
  padding: 16vh 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  -ms-grid-column-span: 36;
  grid-column: 3 / span 36;
  -ms-grid-columns: (1fr)[36];
      grid-template-columns: repeat(36, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.intro h1 {
  margin-bottom: 2em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1 / span 16;
}

.intro img {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.intro h2 {
  -ms-grid-column: 19;
  -ms-grid-column-span: 18;
  grid-column: 19 / span 18;
}

.section-header {
  padding-top: 6em;
  grid-row-gap: 4em;
}

.section-header h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 36;
  grid-column: 1 / span 36;
}

.banner {
  height: 50vh;
  background-image: url(../img/BW2.jpg);
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 36;
  grid-column: 1 / span 36;
}

.banner img {
  width: 100%;
  height: 100%;
  padding: 4em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects {
  padding: 4em 0 5em;
  grid-row-gap: 5em;
}

.projects h1 {
  margin-top: 1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 36;
  grid-column: 1 / span 36;
}

.project {
  grid-column: auto / span 17;
}

.project:nth-of-type(even) {
  -ms-grid-column: 20;
      grid-column-start: 20;
}

.project header {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
  text-transform: uppercase;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  grid-column: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.project figure {
  grid-column: auto;
}

.project figure img {
  width: 100%;
  height: 16em;
  -o-object-fit: cover;
     object-fit: cover;
}

.project figure figcaption {
  display: -ms-grid;
  display: grid;
  margin-top: 2em;
  -ms-grid-columns: auto 3em;
      grid-template-columns: auto 3em;
}

a.hyperlink img {
  width: 3em;
  height: 3em;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel {
  display: -ms-grid;
  display: grid;
  padding: 4em 0;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 2em;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-column: 1 / -1;
}

.carousel figure {
  display: -ms-grid;
  display: grid;
  grid-column: auto / span 8;
  grid-template-row: span 2;
  grid-row-gap: 1.8em;
}

.carousel figure img {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel figcaption {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-row-align: end;
      align-self: end;
}

.carousel figcaption h4 {
  padding-top: .6em;
}

.tools {
  padding: 4em 0;
  grid-row-gap: 3em;
}

.tool {
  grid-column: auto / span 10;
}

.tool:nth-of-type(3n+2) {
  -ms-grid-column: 14;
      grid-column-start: 14;
}

.tool:nth-of-type(3n+3) {
  -ms-grid-column: 27;
      grid-column-start: 27;
}

.tool-icon {
  width: 60%;
  height: 0;
  padding-top: 50%;
  position: relative;
}

.tool-icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.tool h2 {
  margin: 1em 0 .5em;
}

.tool a {
  padding-bottom: .75em;
  color: black;
  font-size: 1.2em;
  line-height: 4;
}

.contact {
  display: -ms-grid;
  display: grid;
  margin: 2em 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  grid-row-gap: 2em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

address {
  font-size: 2em;
  font-style: normal;
}

.team a {
  display: block;
  color: black;
  font-size: 2em;
}

.social a {
  color: #999999;
  font-size: 2em;
}

.dash {
  padding: 0 .4em;
  font-size: 2em;
}

html::-webkit-scrollbar {
  display: none;
}

#move::-webkit-scrollbar {
  display: none;
}

/**
 * #move::-webkit-scrollbar{ height: 2px; } #move::-webkit-scrollbar-thumb {
 * background: #FCD900; }
 */
/* OFFSETS */
.ma-lt {
  margin-left: 2em;
}

.ta-rt {
  text-align: right;
}

.no {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #hero {
    height: 60vh;
  }
  .banner {
    height: 30vh;
  }
  .banner img {
    padding: 1.5em;
  }
  .project figure .thumb {
    height: 10em;
  }
  .tool-icon {
    height: 10vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 10px;
  }
  .nobreak {
    white-space: normal;
  }
  .line {
    border-bottom: 6px solid black;
  }
  .intro {
    padding-bottom: 10em;
    border-bottom: 6px solid black;
  }
  .intro h1 {
    margin: 2em 0;
  }
  .intro img {
    display: none;
  }
  .intro h2 {
    grid-column: 1 / -1;
  }
  .section-header h1 {
    margin-bottom: 1em;
  }
  .banner {
    height: 30vh;
    margin-bottom: 8em;
  }
  .projects {
    padding-bottom: 10em;
    grid-row-gap: 8em;
  }
  .project {
    grid-column: 1 / -1;
  }
  .project:nth-of-type(even) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .project figure .thumb {
    height: 20vh;
  }
  .project figure figcaption {
    display: -ms-grid;
    display: grid;
    margin-top: 2em;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .project-title {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  a.hyperlink {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  a.hyperlink img {
    width: 8em;
    height: 8em;
  }
  .carousel figure {
    grid-column: auto / span 18;
  }
  .tools {
    -ms-grid-column: 3;
    -ms-grid-column-span: 36;
    grid-column: 3 / span 36;
    grid-row-gap: 8em;
  }
  .tool {
    display: -ms-grid;
    display: grid;
    grid-column: 1 / -1;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .tool h2 {
    margin: 0 5vw 1em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }
  .tool h4 {
    margin: 0 5vw 1em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }
  .tool a {
    margin: 0 0 1em 5vw;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
    line-height: 2;
  }
  .tool-icon {
    height: 20em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    grid-row: span 2;
  }
  .tool-icon svg {
    width: 150%;
  }
  .tool:nth-of-type(3n+2) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .tool:nth-of-type(3n+3) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .contact {
    grid-row-gap: 4em;
  }
  .social a {
    color: #999999;
    font-size: 4em;
  }
  .dash {
    padding: 0 .4em;
    font-size: 4em;
  }
}
